:root
{   --firstDarkBlue:#fff;
    --secondDarkBlue:#fff;
    --deeperDarkBlue:#fff;
    --thirdDarkBlue:#fff;
    --specialDarkBlue:#919EFF;
    --lightBorder:#b2b2b2;
    --text:#000;
    --melon:#FB2B4E;
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    min-height:400px;
}

.footer{
    /*background-color: #333333;*/

    background-color: var(--deeperDarkBlue);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    /*background: #555555;*/
    background-color: var(--specialDarkBlue);
    color:floralwhite;
    /*color: var(--text);*/
}
.color-text
{

    color:var(--text)!important;
}

address{
    font-size:80%;
    margin:0px;
    color:var(--text)!important;
}

.navbar-dark {
    /*background-color: #0f0f0f;*/
    background-color: var(--firstDarkBlue);
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}

.carousel-item img {
    height: 400px!important;
}
.card-columns .card {
    margin-bottom: 1.25rem !important;
    background-color: var(--secondDarkBlue);
}
.jumbotron {
     border-radius: 0; 
}
.btn-secondary {
    color: #fff;
    background-color: var(--melon);
    border-color: var(--secondDarkBlue);
}

.btn-secondary:hover {
    color: #fff;
    background-color: var(--secondDarkBlue);
}
.footer-link
{
    color: #fff;
}

.footer-link :hover
{
    color: var(--melon) !important;
}
a
{
    color: var(--text) !important;
    text-decoration: underline;
}
a:hover {
     color: var(--melon) !important;
}

a:not([href]):hover
{
    cursor: pointer;
}
body
{
    background-color: var(--firstDarkBlue);
    color: var(--text);
}
.bg-thirdBlue
{
    background-color: var(--thirdDarkBlue)!important;
}
.breadcrumb {
    background-color:var(--thirdDarkBlue);
}
.breadcrumb-item.active {
    color: var(--text);
    font-weight: bolder;
}
.border-bottom
{
    border-bottom: 1px ridge;
}

.social-btn a {
    color: #fff!important;
}
.navbar-toggler {
    background-color: var(--specialDarkBlue);
    border: 1px solid var(--specialDarkBlue);
}

.profile-img {
    border-radius: 50%;
}
.nav-link  {
    text-decoration: none;

}


/*new */
.wrapper { 
  border : 2px solid #000; 
  overflow:hidden;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
}
#profile-img-section {
  float:left; 
  margin-right:20px;
  width:17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: gray;*/
  /*border-right:2px solid #000;*/
}
#profile-desc-section { 
  /*background-color: gray;*/
  /*border:2px dashed #ccc;*/
  /*overflow:hidden;*/
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height:17rem;
}
.title
{
    align-self: flex-start;
}
.section-title
{

}
.progress-bar-width
{
    margin-top: 0.3rem;
    margin-left: 0.2rem;
    width: 9.3rem;
}
.skills-div
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /*justify-content: flex-start;
    align-items: flex-start;*/
    padding: 2rem;
    /*background-color: red; */
}
.skills-div-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: blue; */
    /*border: 2px solid var(--specialDarkBlue);*/
}
.progress-skill-name
{
    /*background-color: red;*/
    width:8rem;
}
.btn-outline-white
{    
    color:#fff !important;
    border-color:#fff;
    text-decoration: none !important;
}
hr
{
    border-color: var(--lightBorder); 
}

@media screen and (max-width: 600px) {
   #profile-img-section { 
    float: none;
    width:100%;
    border:0;

    /*margin-right:0;*/
    /*border-bottom:2px solid #000;    */

  }
  .title
  {
    align-self: center;
  }
  .section-title
  {
    text-align: center
  }
}